"english","bengali","preposition","example"
"abandon","বর্জন করা",,
"abduct","অপহরণ করা",,
"abductor","অপহরণকারী",,"Police rescued an abducted boy of comilla district and arrested the abductor from haji eidgah math area at dimla upazila in nilphamari on saturday, police sources said."
"ablaze","বহ্নিমান",,"A housewife succumbed to her injuries today four days after she set herself ablaze as she was tortured by her husband allegedly for dowry. "
"abound","উড়া",,"Illegally modified vehicles abound"
"absorb","শোষণ করা",,
"absurd","কিম্ভুতকিমাকার",,"Don't be absurd"
"abundant","প্রচুর",,
"abundantly","প্রচুর পরিমাণে",,
"abysmal","অতল; ভয়ঙ্কর",,"""I think over the last few months the behaviour has been abysmal in international cricket,"" arthur, who is currently pakistan's head coach, said."
"accomplice","যোগদানকারী",,
"accomplish","সাধা",,
"accord","চুক্তি",,"We have an accord"
